<div
  class="masthead"
  style="
    background-image: url(../../../assets/contact/office_party_background.jpg);
  "
>
  <div class="color-overlay d-flex justify-content-center align-items-center">
    <h1>Kontakt z nami</h1>
  </div>
</div>

<div class="container p-4">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h3>Godziny pracy i rezerwowanie wizyt</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr />
    </div>
  </div>
  <div class="row m-4">
    <div class="col d-flex justify-content-center">
      <h6>
        Aby zarezerwować wizytę, zadzwoń pod numer 668 276 533 lub wyślij
        wiadomość na gm@gmt.info.pl
      </h6>
    </div>
  </div>

  <div class="weekdays p-3">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <p>Poniedziałek - Środa 9.00-8.00</p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <p>Czwartek - Piątek 9.00-20.00</p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <p>Sobota 9.00-18.00</p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <p>Niedziela zamknięte</p>
      </div>
    </div>
  </div>

  <div class="info p-3">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <h3>Odwiedź nas</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex justify-content-center">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex justify-content-center">
        <img
          class="img-fluid"
          src="../../../assets/contact/budynek.jpg"
          alt=""
        />
      </div>
      <div class="col d-flex justify-content-center">
        <google-map [options]="mapOptions">
          <map-marker [position]="markerPosition"></map-marker
        ></google-map>
      </div>
    </div>
  </div>
</div>
