<div
  class="masthead"
  style="background-image: url(../../../assets/landing/kask.jpg)"
>
  <div class="color-overlay d-flex justify-content-center align-items-center">
    <h1>Sprzedajemy Bezpieczeństwo</h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row mt-4">
        <div class="col-sm d-flex justify-content-center">
          Chcesz porozmawiać z naszym specjalistą?
        </div>
        <div class="row mt-4">
          <div class="col-sm d-flex justify-content-center">
            <button class="btn btn-danger">Umów się na konsultacje</button>
          </div>
        </div>
        <div class="row mt-5">
          <hr />
        </div>
        <div class="col-sm d-flex justify-content-center">
          <h2>Szeroki wachlarz usług</h2>
        </div>
        <div class="img-holder">
          <div class="row">
            <div class="col">
              <img
                class="img-fluid"
                src="../../../assets/landing/landing_gallery/business-insurance.jpg"
                alt=""
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="../../../assets/landing/landing_gallery/money-brand-cash-currency-euro-piggy-bank-save-seem-calculator-coins-taxes-cent-finance-office-equipment-868415.jpg"
                alt=""
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="../../../assets/landing/landing_gallery/morawiecki.jpg"
                alt=""
              />
            </div>
            <hr />
          </div>
        </div>
        <div class="text text-center">
          <p>
            Witamy w GMT spółka z o.o.; <br /><br />Twoim doradcy w zakresie
            ubezpieczeń związanych z branżą transportową! <br /><br />
            Nasze doświadczenie wynika nie tylko z merytorycznej wiedzy na temat
            ubezpieczeń, ale również z własnego doświadczenia związanego z
            wykonywaniem zawodu Przewoźnika w transporcie międzynarodowym- przez
            12 lat firma wykonywała międzynarodowy transport drogowy towarów.
            Jesteśmy przekonani, że Twoje potrzeby w zakresie zabezpieczenia
            ryzyk związanych z wykonywaniem transportu zwłaszcza drogowego
            jesteśmy w stanie zobaczyć "Twoimi oczami." <br />
            Zapraszamy do kontaktu !
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
