<div
  class="masthead"
  style="
    background-image: url(../../../assets/about-us/pexels-pixabay-269583.jpg);
  "
>
  <div class="color-overlay d-flex justify-content-center align-items-center">
    <h1>O nas</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center p-5">
      <h3>Doświadczenie firmy GMT</h3>
    </div>
    <hr />
  </div>
  <div class="row mb-3">
    <div class="col">
      <img
        class="img-fluid"
        src="../../../assets/about-us/advertising-golden-money-business-shopping-paper-625803-pxhere.com.jpg"
        alt=""
      />
    </div>
    <div class="col">
      <img
        class="img-fluid"
        src="../../../assets/about-us/advertising-golden-money-business-shopping-paper-625803-pxhere.com.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>O Nas</p>
      <p>PO PIERWSZE KLIENT!</p>
      <p>
        To jest nasza główna i najważniejsza zasada prowadzenia biznesu.
        Wieloletnie doświadczenie prowadzenia biznesu w branży transportowej
        zapewnia właściwe spojrzenie na problemy związane z branżą transportową.
        Dodatkowym atutem jest doświadczenie oraz wiedza merytoryczna
        założyciela, głównego udziałowca i prezesa spółki- Grażyna Michnik-
        Waśko. Pani Michnik- Waśko posiada również wieloletnie doświadczenie w
        pracy jako prawnik, jako zarządzający podmiotami w innych branżach, czy
        pracy w działach HR. Dodatkowo oprócz wykształcenia prawniczego posiada
        ona również dyplom MBA z National University in Chicago.
      </p>
    </div>
  </div>
</div>
