<div
  class="masthead"
  style="background-image: url(../../../assets/assistance/truck.jpg)"
>
  <div class="color-overlay d-flex justify-content-center align-items-center">
    <h1>Usługi</h1>
  </div>
</div>

<div class="container">
  <div class="row m-4">
    <div class="col-12-md d-flex justify-content-center">
      <h3>Lista usług</h3>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12 d-flex justify-content-right">
      <p>Ubezpieczenia dla firm przewozowych i spedycyjnych:</p>
      <br />
    </div>
    <div class="col-md-12 d-flex justify-content-right">
      <p>
        Nasze ubezpieczenia dla firm przewozowych i spedycyjnych są opracowane
        specjalnie dla Ciebie, aby zapewnić ochronę Twojego biznesu przed
        różnymi ryzykami, z jakimi się spotykasz. Oto niektóre z naszych
        głównych ofert:
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img
        class="img-fluid"
        src="../../../assets/assistance/truck_fence.jpg"
        alt=""
      />
    </div>
  </div>

  <mat-accordion class="m-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Ubezpieczenia </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        ubezpieczenia komunikacyjne ; OC, AC , floty ubezpieczenie OC operatora
        transportowego (przewoźnika, spedytora, inne) ubezpieczenia głównych
        ryzyk związanych z pracą wykonywaną w transporcie (utrata życia,
        zdrowia, zabezpieczenie dostępu do pomocy medycznej, ochrona prawna
        kierowcy) ubezpieczenia majątkowe Przewoźnika
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Podatki i Rachunkowość </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Doradztwo podatkowe Ceny transferowe Prowadzenie ksiąg Doradztwo
        biznesowe
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Biznes </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Czas pracy kierowcy Licencje Lokalizacja samochodu</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
